/* .slider{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.image{
  width: 1120px;
  height: 280px; 
}

.right-arrow{
  position: absolute;
  top: 46%;
  right: 12px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 46%;
  left: 12px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0px;
  transition-duration: 1s ease-in;

}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.2);
  padding: 12px;
}

#navbarScrollingDropdown{
 
}

.DropdownMenu {
  background-color: hotpink;
} */



#mainapp{
  background: #e2e4e5;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next{
  background:white;
  color: black;
  width: 47px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0 12px;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}



.slick-prev{
  left: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.slick-prev::before,
.slick-next::before{
  display: none;
}

.slick-prev:hover,
.slick-next:hover{
  background:white;
  color: black;
  width: 47px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0 12px;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
 
}

.slick-arrow.slick-prev, .slick-arrow.slick-next:hover{
  transition: none;
  background:white;
  color: black;
  width: 47px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: 0 12px;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}